
.jfx-combo-box .cell {
    -fx-text-fill: white;

}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-color: #303135;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #3498db;
}